#userContainer {

}

#userData {

}

#photoContainer {

}

#userPhoto {

}

.data_list_container {

}

.name_label {

}

.respond {

}

#respond_amount {

}

#respond_currency {

}

#comments {
	margin-top: 20px;
}

.comment_container {

}

#someId {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#button {

}

#plus {
	color: #88a586;
	font-size: 10pt;
}