.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 0 10px 0;
  font-family: sans-serif;
  color: white;
  background-color: #7300df;
}

.Footer p{
    margin-left: 100px;
}

.Footer:hover {
  color: #000080;
  transition: 1s;
}
