body {
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
  background-color: #f9f7f6;
  overflow-x: hidden;
/*  background-image: url(../icons/dot12_small.png);*/
}
