/*===============HEADER================================*/

#person_container {
  /*border: 1px solid yellowgreen;*/
  margin-bottom: 50px;
  box-sizing: border-box;
  height: 400px;
  background-color: #d4e1e9;
}

#cover {
  background-color: #02364c;
  width: 100%;
  /*border: 1px solid green;*/
  height: 300px;
  box-sizing: border-box;
}

#name {
  position: relative;
  top: 250px;
  left: 450px;
  font-size: 36px;
  color: #e2cf11;
}

#speciality {
  position: relative;
  left: 470px;
  bottom: 200px;
  font-size: 24px;
  font-weight: bold;
  color: #037492;
}

#location {
  position: relative;
  left: 490px;
  bottom: 200px;
  font-size: 20px;
  font-weight: bold;
  color: #location;
}

#photoContainerView {
  position: relative;
  left: 200px;
  bottom: 130px;
  background: #DCDCDC;
  width: 200px;
  height: 200px;
  border: 1px solid #037492;
  border-radius: 20px;
  background-image: url(../icons/instead-user-photo.jpg);
  background-size: 200px 200px;
  box-shadow: 5px 5px 20px #037492;
}

#userPhotoView {
  width: 200px;
  height: 200px;
	border-radius: 20px;
  border: none;
}
/*===============HEADER================================*/


#data_container {
/*  border: 1px solid red;*/
  padding-bottom: 50px;
  overflow: auto;
  box-sizing: border-box;
}

.line {
  margin: 50px auto auto 10%;
  width: 80%;
  border-bottom: 2px solid #e2cf11;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  overflow: auto;
}

/*===============TABS==================================*/
/* Базовый контейнер табов */
.tabs {
  /*border: 1px solid blue;*/
  width: 700px;
  margin: 50px 0 50px 11%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  overflow: auto;
  padding: 20px;
}
/* Стили секций с содержанием */
.tabs>section {
  display: none;
  min-height: 400px;
  padding: 15px;
  background: #d4e1e9;
  border: 1px solid #037492;
  box-shadow: 5px 5px 20px #037492;
}
.tabs>section>label {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Прячем чекбоксы */
.tabs>input {
  display: none;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #d4e1e9;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #037492;
  border-radius: 3px 3px 0 0;
  box-shadow: 3px -4px 5px #d4e1e9;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs>label[for*="1"]:before {
  content: "\2637";
}
.tabs>label[for*="2"]:before {
  content: "\2712";
}
.tabs>label[for*="3"]:before {
  content: "\260E";
}
.tabs>label[for*="4"]:before {
  content: "\2685";
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs>label:hover {
  color: #e2cf11;
  transition: 500ms;
  cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
  color: #02364c;
  border-top: 2px solid #02364c;
  border-left: 1px solid #037492;
  border-right: 1px solid #037492;
  border-bottom: 1px solid #d4e1e9;
  background: #d4e1e9;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
  .tabs>label {
    font-size: 0;
  }
  .tabs>label:before {
    margin: 0;
    font-size: 18px;
  }
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
  .tabs>label {
    padding: 15px;
  }
}
/*===============TABS==================================*/

/*===============USER DATAS============================*/
.data_list_container {
  /*border: 2px solid grey;*/
  padding: 5px;
  height: auto;
}

.name_label {
  font-family: arial, sans-serif;
  font-size: 18px;
  margin-right: 5px;
  padding: 2px 10px 2px 10px;
  /*border: 1px solid red;*/
  float: left;
  width: 230px;
}

.respond {
  font-family: arial, sans-serif;
  font-size: 18px;
  margin-left: 255px;
  /*border: 1px solid green;*/
  padding: 2px 10px 2px 10px;
  /*text-indent: 10px;*/
  text-align: left;
  border-left: 2px solid #00CCCC;
}

.respond label a {
  text-decoration: none;
  color: #1C1C1C;
}

#diplomaScreenContainerView {
  margin: 30px auto;
  width: 400px;
  height: 300px;
  background: #DCDCDC;
  border: 1px solid #037492;
  border-radius: 20px;
  background-color: white;
  background-image: url(../icons/diploma.png);
  background-size: 400px 300px;
  box-shadow: 0 0 10px grey;
}

#diplomaScreenPhotoViev {

}

/*===============USER DATAS============================*/

/*===============COMMENTS==============================*/

#comments_container {
  /*border: 1px solid green;*/
  margin-top: 50px;
  margin-right: 11%;
  width: 400px;
  box-sizing: border-box;
  float: right;
  display: inline-block;
  overflow: auto;
  padding: 10px;
}

.comment_box {
  min-width: 180px;
  max-width: 350px;
  background-color: #d4e1e9;
  border: 1px solid #037492;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #037492;
}

.answer-btn {
  border: 1px solid #02364c;
  border-radius: 5px;
  display:inline-block;
  color:#009999;
  font-size:15px;
  font-weight:bold;
  padding: 0px 5px 0px 5px;
  text-decoration:none;
  margin-top: 5px;
  /*border: solid 0.375em;
  border-image: linear-gradient(#fdfdfd, #c4c4c4) 1;*/
  box-shadow: 0 0.375em 0.5em -0.125em #808080;
  background: linear-gradient(#efefef, #c5c5c5);
  cursor: pointer
}

.answer-btn:hover {
  box-shadow: 0 0 2px #00CCCC;
}

.answer-btn:active {
  box-shadow: 0 1px 0 rgba(105, 105, 105, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	transform: translatey(1px);
}

.roll-down {
  cursor: pointer;
  color: #009999;
  font-size: 10pt;
  margin-right: 5px;
}

.roll-up {
  cursor: pointer;
  color: #CC0000;
  font-size: 10pt;
  margin-right: 5px;
}
/*===============COMMENTS==============================*/

/*===============BUTTON ADD COMMENT====================*/
#buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#button {
  position: relative;
	border-left: 2px solid #33CCFF;
	border-top: 2px solid #33CCFF;
	width: 170px;
	height: 30px;
	padding: 5px;
  margin: 5px;
	transition: 0.75s;
}

#button:active {
  transform: translatey(1px);
}

#inscription {
	font-size: 16px;
	margin-left: 20px;
	color: #33CCFF;
	position: relative;
	top: 2px;
	transition: 0.75s;
}

#plus {
	color: #009999;
	font-size: 18px;
  margin-right: 5px;
}

#bottom-border {
	width: 150px;
	border-bottom: 2px solid #33CCFF;
	position: relative;
	top: 12px;
	right: 5px;
	transition: 0.75s;
}

#right-border {
	border-right: 2px solid #33CCFF;
	height: 20px;
	position: relative;
	left: 5px;
	bottom: 30px;
	transition: 0.75s;
}

#button:hover {
	background-color: #99CCFF;
	transition: 1s;
}

#button:hover #inscription {
	color: white;
	transition: 0.75s;
}

#button:hover #bottom-border {
	width: 180px;
	transition: 0.75s;
}

#button:hover #right-border {
	height: 40px;
	transition: 0.75s;
}
/*===============BUTTON ADD COMMENT====================*/
